In [203]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from scipy.signal import stft
import os
import pandas as pd
import sys
import glob

In [204]:
#class ExcelDataReader:
 #   def __init__(self, path):
  #      self.path = path
   #     self.files = sorted(glob.glob(path + '\\*baseline.xlsx'), key=len)
    #    self.cols_to_keep = [0, 1, 3]
     #   self.data = None
    
   # def read_and_process_data(self, num_rows=1000):
    #    dfs = []
#
 #       for file in self.files:
  #          df = pd.read_excel(file, sheet_name='FrontSheet')
   #         df = df.iloc[:num_rows, self.cols_to_keep]
#
 #           df = df.to_numpy()
  #          dfs.append(df)
#
 #       self.data = np.stack(dfs, axis=0)
  #      
   #     return self.data, self.files

In [205]:
import re

class ExcelDataReader:
    def __init__(self, path):
        self.path = path
        self.files = sorted(glob.glob(path + '\\*baseline.xlsx'), key=lambda x: int(re.findall(r'\d+', x)[-1]))
        self.cols_to_keep = [0, 1, 3]
        self.data = None
    
    def read_and_process_data(self, num_rows=1000):
        dfs = []

        for file in self.files:
            df = pd.read_excel(file, sheet_name='FrontSheet')
            df = df.iloc[:num_rows, self.cols_to_keep]

            df = df.to_numpy()
            dfs.append(df)

        self.data = np.stack(dfs, axis=0)
        
        return self.data, self.files

In [206]:
def get_unique_numbers_after_mv(folder_path):
    files = os.listdir(folder_path)
    pattern = re.compile(r'MV(\d+)')

    # Iterate over the files and find the numbers after "MV"
    numbers = []
    for file in files:
        match = pattern.search(file)
        if match:
            number = int(match.group(1))
            numbers.append(number)
    # Remove duplicates by converting the list to a set and then back to a list
    unique_numbers = list(set(numbers))

    return unique_numbers

Read MV001-100 AND Find out missing files

In [207]:
#reader = ExcelDataReader(r'F:\junwei\dataset\MV001-100')

#data,files = reader.read_and_process_data(num_rows=1000)
#print(data.shape)

#data = data.transpose((0, 2, 1))

(87, 1000, 3)

In [208]:
#path = r'F:\junwei\dataset\MV001-100'
#expected_filenames = [f'MV{i}baseline.xlsx' for i in range(1, 100)]

#actual_filenames = []
#for file in glob.glob(os.path.join(path, '*baseline.xlsx')):
 #   actual_filenames.append(os.path.basename(file))

#missing_files1 = set(expected_filenames) - set(actual_filenames)
#print(f"Missing files: {missing_files1}")

Missing files: {'MV56baseline.xlsx', 'MV61baseline.xlsx', 'MV41baseline.xlsx', 'MV60baseline.xlsx', 'MV33baseline.xlsx', 'MV74baseline.xlsx', 'MV24baseline.xlsx', 'MV93baseline.xlsx', 'MV19baseline.xlsx', 'MV48baseline.xlsx', 'MV81baseline.xlsx', 'MV30baseline.xlsx'}

Read MV101-200 AND Find out missing files

In [209]:
#reader2 = ExcelDataReader(r'F:\junwei\dataset\MV101-200')

#data2,files2 = reader2.read_and_process_data(num_rows=1000)

#data2 = data2.transpose((0, 2, 1))

#print(data2.shape)

(84, 1000, 3)

In [210]:
#path = r'F:\junwei\dataset\MV101-200'
#expected_filenames = [f'MV{i}baseline.xlsx' for i in range(101, 201)]

#actual_filenames = []
#for file in glob.glob(os.path.join(path, '*baseline.xlsx')):
 #   actual_filenames.append(os.path.basename(file))

#missing_files2 = set(expected_filenames) - set(actual_filenames)
#print(f"Missing files: {missing_files2}")

Missing files: {'MV123baseline.xlsx', 'MV174baseline.xlsx', 'MV101baseline.xlsx', 'MV108baseline.xlsx', 'MV138baseline.xlsx', 'MV131baseline.xlsx', 'MV159baseline.xlsx', 'MV109baseline.xlsx', 'MV154baseline.xlsx', 'MV146baseline.xlsx', 'MV179baseline.xlsx', 'MV144baseline.xlsx', 'MV124baseline.xlsx', 'MV137baseline.xlsx', 'MV113baseline.xlsx', 'MV171baseline.xlsx'}

Read MV201-300 AND Find out missing files

In [211]:
#reader3 = ExcelDataReader(r'F:\junwei\dataset\MV201-300')

#data3,files3 = reader3.read_and_process_data(num_rows=1000)

#data2 = data2.transpose((0, 2, 1))

#print(data3.shape)

(86, 1000, 3)

In [212]:
#path = r'F:\junwei\dataset\MV201-300'
#expected_filenames = [f'MV{i}baseline.xlsx' for i in range(201, 301)]

#actual_filenames = []
#for file in glob.glob(os.path.join(path, '*baseline.xlsx')):
#    actual_filenames.append(os.path.basename(file))

#missing_files3 = set(expected_filenames) - set(actual_filenames)
#print(f"Missing files: {missing_files3}")

Missing files: {'MV293baseline.xlsx', 'MV288baseline.xlsx', 'MV267baseline.xlsx', 'MV206baseline.xlsx', 'MV229baseline.xlsx', 'MV254baseline.xlsx', 'MV233baseline.xlsx', 'MV263baseline.xlsx', 'MV261baseline.xlsx', 'MV213baseline.xlsx', 'MV250baseline.xlsx', 'MV258baseline.xlsx', 'MV255baseline.xlsx', 'MV209baseline.xlsx'}

Read MV301-400 AND Find out missing files

In [213]:
#reader4 = ExcelDataReader(r'F:\junwei\dataset\MV301-400')

#data4,files4 = reader4.read_and_process_data(num_rows=1000)

#data2 = data2.transpose((0, 2, 1))

#print(data4.shape)

(93, 1000, 3)

In [214]:
#path = r'F:\junwei\dataset\MV301-400'
#expected_filenames = [f'MV{i}baseline.xlsx' for i in range(301, 401)]

#actual_filenames = []
#for file in glob.glob(os.path.join(path, '*baseline.xlsx')):
 #   actual_filenames.append(os.path.basename(file))

#missing_files3 = set(expected_filenames) - set(actual_filenames)
#print(f"Missing files: {missing_files3}")
#381, 321

Missing files: {'MV381baseline.xlsx', 'MV332baseline.xlsx', 'MV390baseline.xlsx', 'MV336baseline.xlsx', 'MV394baseline.xlsx', 'MV398baseline.xlsx', 'MV391baseline.xlsx', 'MV321baseline.xlsx', 'MV383baseline.xlsx', 'MV400baseline.xlsx', 'MV315baseline.xlsx', 'MV397baseline.xlsx', 'MV386baseline.xlsx', 'MV396baseline.xlsx'}

Read MV401-500 AND Find out missing files

In [215]:
#reader5 = ExcelDataReader(r'F:\junwei\dataset\MV401-511')

#data5,files5 = reader5.read_and_process_data(num_rows=1000)

#data2 = data2.transpose((0, 2, 1))

#print(data5.shape)

(105, 1000, 3)

In [216]:
#stacked_data = np.concatenate((data, data2, data3, data4, data5), axis=0)
#stacked_data.shape

(455, 1000, 3)

In [218]:
##master = pd.read_excel('F:\junwei\dataset\_MASTER_MAFAI2023_456cases.xlsx')
# List of IDs to remove
#ids_to_remove = [ 60, 33, 74, 24, 19, 48, 30, 174, 108, 138, 109, 179, 144, 123, 206, 254, 381, 321]

# Remove the rows with the specified IDs
#master1 = master[~master['ID'].isin(ids_to_remove)]

#master1

,ID,Sex_1M2F,Age,Weight,Height,BMI,PredictedBW,APACHE,PF_ratio,SOFA_TOT,...,NonEFL_LeftFromParallelCriteria,NewEFL_type_parallel,Type2_removed,RelativeEFL_DeltaVt_Less20,NonEFL_LeftFromDeltaVtCriteria,NewEFL_type_deltaVt,DefiniteEFL_nonEFL,EFL_by_Standardized Criteria,EFL_by_NewlyProposed_RexAnalysis,EFL_by_mixed criteria
0,1,2,26,65.0,165.0,23.875115,56.966,23.0,730.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,2,2,82,38.0,150.0,16.888889,43.316,NaN,604.000000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
2,3,1,77,54.8,170.0,18.961938,66.016,19.0,365.000000,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,4,2,84,46.9,150.0,20.844444,43.316,NaN,342.000000,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,5,1,83,61.7,160.0,24.101562,56.916,18.0,257.000000,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,507,1,79,42.0,160.0,16.406250,56.916,17.0,326.666667,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
452,508,1,78,44.1,160.0,17.226562,56.916,11.0,546.666667,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
453,509,1,63,52.0,164.0,19.333730,60.556,NaN,640.000000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
454,510,1,26,85.0,172.0,28.731747,67.836,31.0,167.500000,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
455,511,1,78,60.0,158.0,24.034610,55.096,28.0,506.666667,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [219]:
#numbers = master1['ID'].tolist()

#print("Numbers from ID column:", numbers)

Numbers from ID column: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 102, 103, 104, 105, 106, 107, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 125, 126, 127, 128, 129, 130, 132, 133, 134, 135, 136, 139, 140, 141, 142, 143, 145, 147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 158, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 172, 173, 175, 176, 177, 178, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 207, 208, 210, 211, 212, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230, 231, 232, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 251, 252, 253, 256, 257, 259, 260, 262, 264, 265, 266, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 289, 290, 291, 292, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 316, 317, 318, 319, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 333, 334, 335, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 382, 384, 385, 386, 387, 388, 389, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 422, 423, 424, 425, 426, 427, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 471, 472, 473, 474, 475, 476, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511]

In [220]:
# Find missing IDs
#expected_ids = set(range(1, 512))
#actual_ids = set(master['ID'])
#missing_ids = sorted(list(expected_ids - actual_ids))

# Count missing IDs
#num_missing = len(missing_ids)
#print(f"Number of missing IDs: {num_missing}")
#print(f"List of missing IDs: {missing_ids}")

Number of missing IDs: 55
List of missing IDs: [24, 30, 33, 41, 48, 56, 60, 61, 74, 81, 93, 100, 101, 108, 109, 113, 123, 124, 131, 137, 138, 144, 146, 154, 159, 171, 174, 179, 206, 209, 213, 229, 233, 250, 254, 255, 258, 261, 263, 267, 288, 293, 315, 321, 332, 336, 381, 383, 390, 403, 421, 428, 443, 470, 477]

In [221]:
# Example usage
#folder_path = 'F:\junwei\dataset\MV001-100'
#unique_numbers1 = get_unique_numbers_after_mv(folder_path)
#print("Unique numbers after MV:", unique_numbers1)

Unique numbers after MV: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99]

In [222]:
# Example usage
#folder_path2 = 'F:\junwei\dataset\MV101-200'
#unique_numbers2 = get_unique_numbers_after_mv(folder_path2)
#print("Unique numbers after MV:", unique_numbers2)

Unique numbers after MV: [102, 103, 104, 105, 106, 107, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 125, 126, 127, 128, 129, 130, 132, 133, 134, 135, 136, 139, 140, 141, 142, 143, 145, 147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 158, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 172, 173, 175, 176, 177, 178, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [223]:

#folder_path3 = 'F:\junwei\dataset\MV201-300'
#unique_numbers3 = get_unique_numbers_after_mv(folder_path3)
#print("Unique numbers after MV:", unique_numbers3)

Unique numbers after MV: [201, 202, 203, 204, 205, 207, 208, 210, 211, 212, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230, 231, 232, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 251, 252, 253, 256, 257, 259, 260, 262, 264, 265, 266, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 289, 290, 291, 292, 294, 295, 296, 297, 298, 299, 300]

In [224]:
#folder_path4 = 'F:\junwei\dataset\MV301-400'
#unique_numbers4 = get_unique_numbers_after_mv(folder_path4)
#print("Unique numbers after MV:", unique_numbers4)

Unique numbers after MV: [301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 316, 317, 318, 319, 320, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 333, 334, 335, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 382, 384, 385, 386, 387, 388, 389, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400]

In [225]:
#folder_path5 = 'F:\junwei\dataset\MV401-511'
#unique_numbers5 = get_unique_numbers_after_mv(folder_path5)
#print("Unique numbers after MV:", unique_numbers5)

Unique numbers after MV: [401, 402, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 422, 423, 424, 425, 426, 427, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 471, 472, 473, 474, 475, 476, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511]

In [226]:
#combined_unique_numbers = []

#combined_unique_numbers.extend(unique_numbers1)
#combined_unique_numbers.extend(unique_numbers2)
#combined_unique_numbers.extend(unique_numbers3)
#combined_unique_numbers.extend(unique_numbers4)
#combined_unique_numbers.extend(unique_numbers5)

#combined_unique_numbers = list(set(combined_unique_numbers))

In [227]:
#symmetric_difference = list(set(numbers) ^ set(combined_unique_numbers))

#print("Unique data that only occurs in one of the lists:", symmetric_difference)

Unique data that only occurs in one of the lists: [19]